# replace C-b by C-a instead of using both prefixes
set -gu prefix2
unbind C-a
unbind C-b
set -g prefix C-a
bind C-a send-prefix

# increase history size
set -g history-limit 10000

# Set the window title to the current working directory
set-option -g set-titles on

# because window titles are reported to activitywatch,
# i want them to be as helpful as possible
# simply having "tmux ~" for 142 minutes is not on

# SESSION:WINDOW:PANE PATH COMMAND
# 0:1:1 /home/shakabra/ ls -a
set-option -g set-titles-string ' #{session_id}:#{window_id}:#{pane_id}  #{pane_current_path} #{pane_current_command}'

# Set the window title to the current directory (when inside tmux)
# set-option -g status-left "#(pwd)"  # Add the current directory to the status bar (optional)

set -g mouse on
set -g default-terminal "tmux-256color"

set -g @plugin 'tmux-plugins/tpm'

set -g @plugin 'tmux-plugins/tmux-sensible'

set -g @plugin 'alexwforsythe/tmux-which-key'

{{- if eq .chezmoi.os "linux" }}
set -g @plugin 'akohlbecker/aw-watcher-tmux'
{{- end}}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'