{{ if eq .chezmoi.os "linux" -}}
#!/bin/fish
{{ else if eq .chezmoi.os "darwin" -}}
#! /opt/homebrew/bin/fish
{{ end -}}

{{/* i want this script to run once an hour MAX - run_once hashes the template results and only runs when it changes */}}
{{/* golang is... interesting. i dont hate it? this would become: Nov 12 2100, 11am */}}
echo {{ now | date "Jan 2 2006, 3am" }}

echo \n
echo "removing chezmoi lazy lock"
rm -f $(chezmoi source-path)/dot_config/nvim/lazy-lock.json

echo \n
echo "updating lazy"
# https://vi.stackexchange.com/questions/43972/lazy-nvim-upgrade-plugins-from-command-line
nvim --headless "+Lazy! sync" +qa

echo \n
echo "moving new lazy lock back to state"
mv ~/.config/nvim/lazy-lock.json $(chezmoi source-path)/dot_config/nvim/lazy-lock.json
