{{- if eq .chezmoi.os "darwin" }}

export PATH="/opt/homebrew:$PATH"
export PATH="/opt/homebrew/bin:$PATH"

# mise should be auto-setted-upped :D 🎉

export NEOVIDE_FRAME="transparent"


{{- end }}

{{- if eq .chezmoi.os "linux" }}
source /opt/asdf-vm/asdf.fish

export PATH="$PATH:$HOME/.maestro/bin"
export PATH="$HOME/.nix-profile/bin:$PATH"
direnv hook fish | source
export PATH="$HOME/.tool-versions:$PATH"

{{- end }}

fzf --fish | source

starship init fish | source

export PATH="$HOME/.bin/:$PATH"

thefuck --alias | source

{{- if eq .chezmoi.os "darwin" }}

# TODO: install / test on arch too
zoxide init fish | source

{{- end }}
