# COMMON TOP START
mise activate fish | source
# COMMON TOP END

{{- if eq .chezmoi.os "darwin" }}

export PATH="/opt/homebrew:$PATH"
export PATH="/opt/homebrew/bin:$PATH"
export NEOVIDE_FRAME="transparent"
{{- end }}

{{- if eq .chezmoi.os "linux" }}

export PATH="$PATH:$HOME/.maestro/bin"
export PATH="$HOME/.nix-profile/bin:$PATH"
direnv hook fish | source
export PATH="$HOME/.tool-versions:$PATH"
{{- end }}

# COMMON END START
fzf --fish | source
starship init fish | source
thefuck --alias | source

export PATH="$HOME/.bin/:$PATH"
# COMMON END END
