{{- if eq .chezmoi.os "darwin" }}

set -gx PATH $HOME/.asdf/shims $PATH
source ~/.asdf/asdf.fish

eval "$(/opt/homebrew/bin/brew shellenv)"

test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish

# saying it with an aussie accent is REQUIRED, NOT OPTIONAL
export ANDROID_WHEREABOUTS="/Volumes/Palm-Sized-Wondah/android"

export PATH="$ANDROID_WHEREABOUTS/sdk/emulator:$ANDROID_WHEREABOUTS/sdk/tools:$ANDROID_WHEREABOUTS/sdk:$ANDROID_WHEREABOUTS/sdk/platform-tools:$PATH"

# sets JAVA_HOME
. ~/.asdf/plugins/java/set-java-home.fish

export ANDROID_HOME="$ANDROID_WHEREABOUTS"

{{- end }}

{{- if eq .chezmoi.os "linux" }}
source /opt/asdf-vm/asdf.fish

export PATH="$PATH:$HOME/.maestro/bin"
export PATH="$HOME/.nix-profile/bin:$PATH"
direnv hook fish | source
export PATH="$HOME/.tool-versions:$PATH"

{{- end }}

fzf --fish | source

starship init fish | source

export PATH="$HOME/bin/:$PATH"
export PATH="$HOME/.bin/:$PATH"

thefuck --alias | source
